<aside>
	<div class="suggestionsWrapper boxSizing">
		<h4>Recommended:</h4>
		<div class="suggestionsItem">
			<img class="verticalCenter" src="images/avatar.jpg" />
			<a href="#">How to use Robomongo for...</a>
		</div>
		<div class="suggestionsItem">
			<img class="verticalCenter" src="images/avatar.jpg" />
			<a href="#">How to use Robomongo for...</a>
		</div>
		<div class="suggestionsItem">
			<img class="verticalCenter" src="images/avatar.jpg" />
			<a href="#">How to use Robomongo for...</a>
		</div>
	</div>
	
	<div class="notificationWrapper">
		<a href="#" class="notificationItem boxSizing padding20">
			<i class="fa fa-thumbs-up" aria-hidden="true"></i> How to use Robomongo for...
		</a>
		<a href="#" class="notificationItem boxSizing padding20">
			<i class="fa fa-thumbs-down" aria-hidden="true"></i> How to use Robomongo for...
		</a>
		<a href="#" class="notificationItem boxSizing padding20">
			<i class="fa fa-thumbs-up" aria-hidden="true"></i> How to use Robomongo for...
		</a>
		<a href="#" class="notificationItem boxSizing padding20">
			<i class="fa fa-thumbs-down" aria-hidden="true"></i> How to use Robomongo for...
		</a>
		<a href="#" class="notificationItem boxSizing padding20">
			<i class="fa fa-thumbs-up" aria-hidden="true"></i> How to use Robomongo for...
		</a>
		<a href="#" class="notificationItem boxSizing padding20">
			<i class="fa fa-thumbs-down" aria-hidden="true"></i> How to use Robomongo for...
		</a>
	</div>
</aside>