body {
	background-color: #38393B;
}

.accountForm {
	position: absolute;
	display: block;
	max-width: 300px;
	width: 90%;
	margin: 0 auto;
}

.accountForm>input[type="text"], .accountForm>input[type="password"] {
	display: block;
	width: 100%;
	border: 1px solid #222;
	margin-bottom: 5px;
}

.accountForm>button {
	width: 100%;
}

.accountForm>h1 {
	color: #fff;
	margin-bottom: 5px;
}

.accountForm>label {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}

.formSwitchLink {
	display: block;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 13px;
	margin-top: 10px;
}

.validationSummary {
	color: #e74c3c;
	font-size: 12px;
	margin-bottom: 10px;
}

#registerForm .validationSummary {
	margin-top: 7px;
}