* {
	padding: 0;
	margin: 0;
	font-family: TitilliumWeb-Regular;
	color: #38393B;
}

body {
	background-color: #fff;
}

header {
	height: 60px;
	background-color: #38393B;
	overflow: initial !important;
}

header>.centerHelper>.headerLogo {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	height: 60px;
	line-height: 60px;
	margin-right: 20px;
	height: 60px;
}

header>.centerHelper>.headerLogo>span {
	font-family: TitilliumWeb-Bold;
	color: #fff;
}

header>.centerHelper>form {
	display: inline-block;
}

header>.centerHelper>form>input[type="text"] {
	width: 300px;
	height: 36px;
	padding: 0 10px;
	border: none;
	border-radius: 1px;
}

header>.centerHelper>form>button {
	height: 36px;
	width: 36px;
	color: #fff;
	background-color: #1BBC9B;
	border: none;
	cursor: pointer;
	border-radius: 1px;
}

header>.centerHelper>form>button>i {
	color: #fff;
}

header>.centerHelper>.headerMenu {
	float: right;
	color: #fff;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	font-size: 14px;
}

header>.centerHelper>.headerMenu>i {
	height: 60px;
	vertical-align: top;
	line-height: 57px;
	color: #fff;
}

header>.centerHelper>.headerMenu>ul {
	position: absolute;
	display: none;
	top: 60px;
	right: 0;
	background-color: #fefefe;
	padding: 0 10px;
	list-style-type: none;
	min-width: 180px;
	z-index: 3;
	border: 1px solid #ECF0F1;
}

header>.centerHelper>.headerMenu:hover>ul {
	display: block;
}

header>.centerHelper>.headerMenu>ul>li {
	position: relative;
	height: 50px;
}

header>.centerHelper>.headerMenu>ul>li:after {
	position: absolute;
	content: '';
	right: -10px;
	top: 0;
	bottom: 0;
	left: auto;
	width: 3px;
}

header>.centerHelper>.headerMenu>ul>li:hover:after {
	background: #1BBC9B;
}

header>.centerHelper>.headerMenu>ul>li>a {
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 13px;
	padding: 0 5px;
}

header>.centerHelper>.headerMenu>ul>li>a>i {
	width: 24px;
}

header>.centerHelper>.headerMenu>ul>li:not (:last-child )>a {
	border-bottom: 1px solid #ECF0F1;
}

.grayTrack {
	height: 40px;
	background-color: #ECF0F1;
}

.grayTrack>.centerHelper>a {
	position: relative;
	display: inline-block;
	color: #4f4f51;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	font-family: TitilliumWeb-Bold;
	letter-spacing: 0.3px;
}

.grayTrack>.centerHelper>a.active {
	background-color: #fff;
}

.grayTrack>.centerHelper>a.blocked {
	pointer-events: none;
}

.grayTrack>.centerHelper>a.active:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	height: 3px;
	background-color: #1BBC9B;
}

.grayTrack>.centerHelper>a>i {
	font-size: 10px;
	margin-right: 5px;
}

aside {
	display: inline-block;
	width: 300px;
	float: right;
}

main {
	display: none;
	width: calc(100% - 312px);
	float: left;
	padding-top: 10px;
}

main>.mainItem {
	height: 100px;
	background-color: #ECF0F1;
	margin-bottom: 10px;
}

main>.mainItem>img {
	position: relative;
	display: inline-block;
	padding: 0 30px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

main>.mainItem>.forumInfoWrapper {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

main>.mainItem>.forumInfoWrapper>a {
	display: block;
	font-size: 17px;
	line-height: 15px;
	text-decoration: none;
	font-family: TitilliumWeb-Bold;
}

main>.mainItem>.forumInfoWrapper>span {
	font-size: 14px;
}

main>.mainItem>a.times {
	position: absolute;
	right: 30px;
	font-size: 20px;
	cursor: pointer;
	color: #595959;
}

main>.mainItem>a.eye {
	position: absolute;
	right: 60px;
	font-size: 20px;
	cursor: pointer;
}

main>.mainItem>a>i {
	color: #595959;
}

aside {
	padding-top: 10px;
	overflow: hidden;
}

aside>.notificationWrapper {
	width: 100%;
	height: 200px;
	overflow: auto;
	padding-right: 17px;
}

aside>.notificationWrapper>.notificationItem {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #ECF0F1;
	overflow: hidden;
}

aside>.notificationWrapper>.notificationItem:not(:last-child ) {
	margin-bottom: 10px;
}

aside>.notificationWrapper>.notificationItem>i {
	color: #48a5e2;
	margin-right: 10px;
}

aside>.suggestionsWrapper {
	width: 283px;
	border: 1px solid #ECF0F1;
	padding: 10px;
	margin-bottom: 10px;
}

aside>.suggestionsWrapper>.suggestionsItem {
	display: block;
	width: 100%;
	height: 60px;
}

aside>.suggestionsWrapper>.suggestionsItem>img {
	position: relative;
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	vertical-align: top;
	margin-right: 10px;
}

aside>.suggestionsWrapper>.suggestionsItem>a {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
}

.mainItem.unreadMessage {
	border-right: 3px solid #48a5e2;
}

input[type="text"], input[type="password"] {
	height: 40px;
	padding: 0 10px;
}

.btn {
	height: 40px;
	border: 1px solid #222;
	text-align: center;
	padding: 0 10px;
	background-color: #222;
	color: #fff;
	cursor: pointer;
	min-width: 80px;
}

a.btn{
	display: inline-block;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
}

.btn.green {
	background-color: #1BBC9B;
	border-color: #1BBC9B;
}

.seenIndicator {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: auto;
	width: 3px;
	background-color: #48a5e2;
}

.topicHeaderWrapper, .messageWrapper {
	display: block;
	background: #ECF0F1;
	padding: 20px;
	margin-bottom: 20px;
}

.topicHeaderWrapper {
	position: relative;
}

.likeDislikeWrapper{
	position: absolute;
	width: initial!important;
}

.likeDislikeWrapper>i {
	font-size: 22px;
	margin-left: 10px;
	cursor: pointer;
	color: #595959;
}

.topicHeaderWrapper>.likeDislikeWrapper {
	top: 20px;
	right: 20px;
}

.topicHeaderWrapper>.likeDislikeWrapper>i.active {
	color: #48a5e2;
}

.topicHeaderWrapper>img {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	vertical-align: top;
	margin-right: 20px;
}

.topicHeaderWrapper>div {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 110px);
}

.topicHeaderWrapper>div>h3 {
	margin-bottom: 10px;
}

.topicHeaderWrapper>div>p {
	text-align: justify;
}

.topicHeaderWrapper>div>h5 {
	margin-top: 10px;
	color: #595959;
}

.commentInputWrapper {
	position: relative;
	border: 1px solid #d3dcde;
	overflow: hidden;
	margin-top: 10px;
}

.commentInputWrapper>textarea {
	display: block;
	width: 100% !important;
	height: 36px;
	line-height: 36px;
	border: none;
	padding: 0 46px 0 10px;
}

.commentInputWrapper>button,
.commentInputWrapper>a {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: auto;
	right: 0;
	height: 36px;
	line-height: 36px;
	width: 36px;
	border: none;
	border-left: 1px solid #d3dcde;
	cursor: pointer;
	text-align: center;
	background-color: rgba(207, 207, 207, 0.8);'
}

.commentInputWrapper>a>i{
	height: 36px;
	line-height: 36px;
}

.comment>.commentContent {
	background: #ECF0F1;
	margin-bottom: 10px;
	padding: 20px;
}

.comment>.commentContent>img {
	display: inline-block;
	width: 60px;
	height: 60px;
	vertical-align: top;
	margin-right: 20px;
}

.comment>.commentContent>div {
	display: inline-block;
	width: calc(100% - 90px);
}

.comment>.commentContent>.commentInputWrapper {
	display: none;
}

.subcommentsWrapper {
	margin-left: 30px;
}

.messageWrapper h3 {
	margin-bottom: 10px;
}

.composeWrapper {
	height: 40px;
	border-bottom: 1px solid #ECF0F1;
	margin-bottom: 10px;
}

.composeWrapper>a {
	height: 40px;
	line-height: 40px;
	text-decoration: none;
}

.composeWrapper>a>i {
	margin-right: 7px;
	color: #1BBC9B;
}

/*#region [Forms]*/
.styledForm {
	background-color: #ECF0F1;
	padding: 20px;
}

.styledForm>h3 {
	margin-bottom: 10px;
}

.formComponentRow {
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.formComponentRow.hidden {
	display: none;
}

.formComponent {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.formComponent.full {
	display: block;
	width: 100%;
}

.formComponent.half {
	display: inline-block;
	width: calc(50% - 5px);
}

.formComponent.left {
	float: left;
}

.formComponent.right {
	float: right;
}

select.formComponent {
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	border: 1px solid #d3dcde;
	cursor: pointer;
}

input[type="text"].formComponent, input[type="password"].formComponent {
	height: 36px;
	line-height: 36px;
	padding: 0 10px;
	border: 1px solid #d3dcde;
}

textarea.formComponent {
	min-height: 90px;
	width: 100% !important;
	padding: 10px;
	border: 1px solid #d3dcde;
}

input[type="file"].formComponent {
	display: none;
}

.imageLabel.formComponent {
	display: block;
	width: 100px;
	height: 100px;
	background-color: #fff;
	border: 1px solid #d3dcde;
	cursor: pointer;
	border-radius: 3px;
	background-size: cover;
	background-position: center;
}
/*#endregion [Forms]*/

.mainItem select.formComponent{
	position: relative;
	vertical-align: top;
	float: right;
	margin-right: 20px;
}

.rule{
	display: inline-block;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #d3dcde;
	font-size: 14px;
	padding: 0 10px;
	color: #d3dcde!important;
}

.rule > i{
	font-size: 12px;
	color: #d3dcde!important;
	cursor: pointer;
	margin-left: 10px;
}



